<div class="title-section">
  <span
    ><a routerLink="/dashboard/accounts">Mis cuentas</a> / Movimientos de la
    cuenta</span
  >
</div>
<section class="container">
  <table class="data-table">
    <tr>
      <th>Número de cuenta</th>
      <th>Fecha transacción</th>
      <th>Monto movimiento</th>
      <th>Descripción</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
  </table>
</section>
